In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error

In [14]:
df =pd.read_csv("gapminder.csv")
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

In [15]:
df.columns

Index(['population', 'fertility', 'HIV', 'CO2', 'BMI_male', 'GDP',
       'BMI_female', 'life', 'child_mortality', 'Region'],
      dtype='object')

In [17]:
X=df[['population', 'fertility', 'HIV', 'CO2', 'BMI_male', 'GDP',
       'BMI_female', 'child_mortality']].values

In [18]:
type(X)

numpy.ndarray

In [19]:
X.ndim

2

In [20]:
y=df["life"].values
y.ndim

1

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,
                                              test_size=0.25)

In [22]:
len(X)

139

In [23]:
len(X_train)

104

In [24]:
len(X_test)

35

In [25]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
y_test_pred=model.predict(X_test)

In [27]:
y_test

array([57.4, 80.3, 75.1, 60.8, 80.7, 61.7, 80. , 57.5, 59.4, 78.2, 76. ,
       65.7, 75.2, 46.1, 64.1, 70.8, 70.9, 77.6, 66.2, 82. , 73.4, 68.4,
       81.5, 74.1, 55.9, 80.9, 74. , 77.8, 74.8, 79.4, 55. , 72.2, 80.7,
       79.2, 63.2])

In [28]:
y_test_pred

array([56.84183806, 79.97547687, 74.57848594, 67.29166116, 81.85634892,
       65.21543048, 79.00550128, 64.47226691, 57.89225686, 78.32468981,
       75.30676059, 72.39265286, 72.50037008, 46.65507047, 64.62523897,
       71.10241138, 69.92291863, 75.0037675 , 70.39547968, 80.90014101,
       74.60540394, 68.65936542, 78.49415261, 74.45972842, 58.63059113,
       76.55679264, 73.48103838, 76.20350811, 75.81481713, 79.61002647,
       52.08165256, 75.1724525 , 84.92201585, 77.17164101, 70.46455781])

In [30]:
r2_score(y_test,y_test_pred)

0.8938291613711746

In [32]:
rmse = np.sqrt(mean_squared_error(y_test,y_test_pred))
rmse

3.029006722535853

In [35]:
std =np.std(y_test)
std

9.296032069915528

In [36]:
rmse <std

True